{% extends "layout.html" %}



{% block content %}
<div class="well text-center">

    <h1> COVID-19 UGANDA STATISTICS </h1>

</div>
<div class="container">
    <table class="table table-bordered">
        {% for x in sit %}
        <thead>
            <tr>
                {% for key, value in x.items() %}
                <th>
                    {{ key.upper()}}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for key, value in x.items() %}
                <td>
                    {{ value}}
                </td>
                {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>

</div>
<div>
    <canvas id="Ugstats" width="600" height="400"></canvas>
    <script src="../static/scripts/Chart.js"></script>
    <script>
       Chart.defaults.global.responsive = true;
        {% for y in sit %}
        var chartData = {
            labels: [
                {% for key, value in y.items() %}
                {% if key == "country" %}
                    {% continue %}
                     {% else %}
                        "{{ key }}",

                    {% endif %}
                 {% endfor %}
            ],

        datasets: [{
            label: "COVID UG STAT",
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(243,98,22,1)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,

            data: [
                {% for key, value in y.items() %}
                 {% if value is string %}
                        {% continue %}

                 {% else %}

                  {{ value }},

                    {% endif %}
            {% endfor %}
        ],
            //spanGaps = false
        }]
        }

        //get chart canvas
        var ctx = document.getElementById("Ugstats").getContext("2d");
        //create chart using chat canvas.
        
        var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
        });

        {% endfor %}


    </script>
</div>


{% endblock %}
