{% extends "layout.html" %}

{% block content %}

        <div class="well text-center">

            <h1> Covid Awareness News</h1>

        </div>



<p class="text-center">News And Updates Information</p>

            <div class="jumbotron p-3">
                <h2>
                    Search <b> Country </b>
                    <button type="button" class="btn btn-success float-right">  Search Country </button>
                </h2>
            </div>
            <div class="container">
                
                <div class="table-responsive">
                    <table class="table table-dark">
                        {% for item  in  result %}
                        <tr>

                            {% for key, value in item.items() if loop.first%}

                            <th> {{ key.upper()}} </th>

                            {% endfor %}
                        </tr>
                        <tr>
                            {% for key, value in item.items() %}
                            
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
               
            </div>
{% endblock %}
